beautifulsoup4==4.11.1
Flask==3.0.0
flask_wtf==1.2.1
google_search_results==2.4.2
gTTS==2.5.0
matplotlib==3.8.2
nltk==3.8.1
pydub==0.25.1
PyPDF2==2.12.1
python_docx==1.1.0
Requests==2.31.0
serpapi==0.1.5
WTForms==3.1.1
easyocr==1.7.1
Pillow==10.1.0
pygame==2.5.2
ip2geotools==0.1.6
python-whois==0.8.0
qrcode==7.4.2
pyshorteners==1.0.1
deep_translator==1.11.4
bitarray==2.9.2